body {
  overflow: hidden;
}

h2 {
  font-size: 40px;
}

.connection-status {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contestants {
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.contestant-container {
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.contestant {
  height: auto;
  flex-grow: 1;
  flex-basis: auto;
  transition: .25s all ease-in-out;
  margin-right: 10px;
}

.contestant:last-of-type {
  margin-right: 0;
}

.mdl-list__item {
  border-right: 5px solid #a0a0a0;
}

.mdl-list__item:last-of-type {
  border: 0;
}

header {
  text-align: center;
}
